*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

header.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 200px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

#search {
    width: 380px;
    padding: 14px 20px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: none;
    outline: none;
}

#searchBtn {
    width: auto;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}

#search:focus{
    box-shadow: 0 0 15px #00ff88;
}

body {
    background-image: url('../images/estrellas.png');
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.container {
    max-width: 1700px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

.card {
    background-color: #2c2b2b;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(44, 178, 73, 0.864);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(31, 60, 31, 0.7);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.card h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #00ffcc;
}

button {
    width: 100%;
    border: none;
    background-color: rgba(124, 240, 0, 0.725);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    text-align: center; 
}

button:hover{
    box-shadow: 5px 5px 5px rgb(87, 155, 104);
    background-color: green;
    color: rgb(180, 200, 146);
}

.invisible {
    display: none;
}

.getid {
    width: 600px;
    margin: 80px auto;
    background-color: #2c2b2b;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(44, 178, 73, 0.864);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.details {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rbga(0,0,0,0.6) ;
    z-index: 2000;
}

.details-card {
    background-color: #2c2b2b;
    width: 700px;
    max-width: 95%;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 45px rgba(0, 250, 120, 0.7);
    text-align: center;
}

.details-card img {
    width: 260px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 25px;
}

.details-card h2 {
    font-size: 1rem;
    margin: 6px 0;
    font-weight: normal;
}

.details-card h2:first-of-type {
    font-size: 1.5rem;
    color: #00ffcc;
    margin-bottom: 15px;
}

.back-btn {
    width: auto;
    padding: 12px 30px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: 1rem;
}

.details {
    pointer-events: none;
    opacity: 0;
}

.details:not(.invisible) {
    pointer-events: auto;
    opacity: 1;
}