*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/estrellas.png');
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.card {
    background-color: #2c2b2b;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(44, 178, 73, 0.864);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(31, 60, 31, 0.7);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.card h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #00ffcc;
}

button {
    width: 100%;
    border: none;
    background-color: rgba(124, 240, 0, 0.725);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    text-align: center; 
}

button:hover{
    box-shadow: 5px 5px 5px rgb(87, 155, 104);
    background-color: green;
    color: rgb(180, 200, 146);
}